body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f6f6f6;
}
img,video{
    width: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #404040;
    gap: 0.5rem;
    background-color: lightpink;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px #545454;
    transition: all 200ms ease-out;
}
a:hover{
    transform: translateX(3px);
    transform: translateY(1px);
    box-shadow: 0 0px 2px #545454;
}
header{
    background-color: #e2e2e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
header div{
    gap: 1rem;
}
#dashboard{
    font-size: 10px;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 20px;
}
.cart{
    background-color:rgb(255, 214, 220) ;
    padding: 20px;
    border-radius: 5px;
    /* width: 400px;
    height: 400px; */
}
.cart p{
    padding: 5px;
    transition: all 300ms ease-out;
}
.cart p:hover{
    background-color: #f6f6f6;
    cursor: pointer;
}